.idea
proxy/.env

proxy/node_modules/
proxy/package-lock.json
proxy/yarn-lock.json

node_modules/
package-lock.json
yarn-lock.json

frontend/node_modules/
frontend/package-lock.json 
frontend/yarn-lock.json

frontend/.env

.env
